[Interface]
Address = 10.0.0.1/24
ListenPort = 51820
PrivateKey = {{ wireguard.interface.private_key }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
PublicKey = {{ wireguard.peer.public_key }}
AllowedIPs = 10.0.0.2/32
